.container {
  padding-top: 120px;
}
h1 {
  background-color: #eee;
  margin-top: 0;
  padding: 20px 0;
}
.help-msg {
  margin-top: 15px;
}
section {
  position: relative;
  height: 640px;
  overflow-y: scroll;
}

