<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
    <title>Fake Forum</title>
    <link rel="stylesheet" href="{% static "css/ForumCss.css" %}"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'/>
    </head>
    <body>
    <section>
        <h2>Post to forum</h2>
        <main class="nav">
            <form id="post" method="post">
                <lable for="title"></lable>
                <input type="text" id="title" name="posttitle" placeholder="title" required/>
                <lable for="pbody"></lable>
                <input type="text" id="body" name="postbody" placeholder="write here" required/>
                <input type="submit" name="submit" id="submit" value="Post">

            </form>
        </main>
    </section>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/ForumJs.js" %}"></script>
    </body>
</html>