body {
    font-family: sans-serif;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #333;
    background: #eee;
}

main {
    border: solid 10px #336699;
}

table {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

th {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #336699;
    padding-bottom: 20px;
}

h1 {
    background-color: #336699;
    padding: 20px 35px 30px;
    margin-top: 0;
    color: #eee;
    letter-spacing: 0.01em;
}

.true,
.false,
.trueText,
.falseText {
    transition: 1s;
}

.false {
    background-color: #CC6666;
}

.true {
    background-color: #339966;
}

.trueText {
    color: initial;
}

.falseText {
    color: #bbb;
}

input[type="text"] {
    font-size: 1em;
    padding-left: 10px;
    line-height: 28px;
    width: 80%;
    text-align: center;
    color: #336699;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    font-size: .8em;
    background: #555;
    color: #fff;
}

main button:nth-child(-1) {
    margin-top: 0;
}

td ~ td:nth-child(4) {
    padding: 10px 0;
    color: #eee;
    border-radius: 5px;
}
