<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javapic</title>
    <link rel="stylesheet" href="{% static "css/style4jqforum.css" %}"/>
</head>
<body>

<main>
    <header>javapic <span class="tagline">develop something beautiful</span></header>
    <div id="jumbotron" class="jumbotron">
        <div>a picture is worth a 1000 words</div>
    </div>
    <div class="bottom_jumbo"><a href="jqjoin.html">join now</a></div>

</main>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static "javapic_query/index_jq.js" %}"></script>
</body>
</html>