<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javapic</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
<main class="gallery_page">
    <header>javapic <span class="tagline">develop something beautiful, tiffany</span></header>
    <section id="gallery" class="gallery">
        <!--<li><img src="images/pdxcg_01.jpg" /></li>-->
    </section>
    <div id="image_show" class="display_none"><img src="../static/images/pdxcg_40.jpg" /></div>
</main>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/gallery_page_js.js" %}"></script>
</body>
</html>